---
interface Props {
    src: string;
    alt: string;
    width?: number;
    height?: number;
}

const {src, alt, width, height} = Astro.props;

import {Image} from 'astro:assets';
import LogoImage from '../assets/logo.png'
---

<div class="logo-container">
    <Image src={LogoImage} alt={alt} width={width} height={height}/>
</div>

<style>
    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>